body {
    background-color: royalblue;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
}

#gameContainer {
    position: fixed;
    height: 100%;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
    padding-right: 20px;
}

#gameHeader h1 {
    font-size: 100px;
    margin-top: 30px;
}

.row {
    margin-top: 10px;
}

.tile {
    border-radius: 5px;
    display: inline-block;
    height: 60px;
    line-height: 63px;
    width: 60px;
    box-shadow: 1px 1px 5px black;
    background-color: royalblue;
    font-size: 60px;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    vertical-align: top;
    margin-right: 5px;
}

.correct {
    background-color: #d9331b;
}

.exists {
    background-color: #ffca48;
}

#contentContainer input {
    color: white;
}

#contentContainer {
    height: 100%;
}

#guess {
    width: 385px;
    box-sizing: border-box;
    margin-left: 60px;
}

